body{
    margin:0;
    padding: 0;
    background-color: #f6f6f6;    
}
hr{
    border: 1px solid #dddbdb;
}
label{
    color: #9c569b;
    font-family: 'Source Sans Pro regular', sans-serif;
    font-size: 10pt;
    text-align: start;
    font-style: italic;
    margin-top: 15px;
}
a{
    text-decoration: none;
}
a.dropdown-item{
    font-family:'Source Sans Pro Light', sans-serif ;
    font-size: 12px;
    font-weight: 200;
}
a.link{
    font-family:'Source Sans Pro Light', sans-serif ;
    font-size: 12px;
    font-weight: 200;
    text-decoration: none;
    color: #585858;
}
.nav-link:focus, .nav-link:hover {
    color: #9c569b
    ;
}
p.text{
    font-family: 'Source Sans Pro Light', sans-serif;
    color: #969191;
    font-size: 14px;
    font-weight: 200;
    text-align: left;
    line-height: 25px;
    text-overflow: clip;
}
p.info{
    font-family: 'Source Sans Pro Light', sans-serif;
    color: #969191;
    font-size: 10pt;
    font-weight: 100;
    margin-bottom: 0pt;
}
p.data{
    font-family: 'Source Sans Pro Light', sans-serif;
    font-size: 10pt;
    font-weight: 200;
    color: #9c8156;
    font-variant-caps: all-petite-caps;
    font-variant-numeric: oldstyle-nums;
}
p.post-title{
    font-family: 'Playfair Display', sans-serif;
    font-size: 21pt;
    letter-spacing: 3px;
    font-weight: 600;
    font-variant-caps: all-petite-caps;
    color: black;
    line-height: 21pt;
}
p.last-title{
    font-family: 'Playfair Display', sans-serif;
    font-size: 14pt;
    letter-spacing: 3px;
    font-weight: 600;
    font-variant-caps: all-petite-caps;
    color: black;
    line-height: 15pt;
}
p.title{
    font-family: 'Playfair Display', sans-serif;
    font-size: 48pt;
    font-weight: bold;
}
p.subtitle{
    font-size: 18pt;
    letter-spacing: 10px;
}
p.tag{
    font-family: 'Source Sans Pro regular', sans-serif;
    color: #9c8156;
    font-size: 12pt;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
    font-variant-caps: all-petite-caps;
    
}
p.tag2{
    font-family: 'Source Sans Pro regular', sans-serif;
    color: #9c8156;
    font-size: 14pt;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
    font-variant-caps: all-petite-caps;
}
p.category{
    color: black;
    font-size: 14pt;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    font-variant-caps: all-petite-caps;
    
    border: 2pt;
    border-color: #9c8156;
    border-style: solid ;
    border-radius: 5px;
    padding: 2px;
    margin: 3px;
    
}

.header{
    margin-bottom: 4px;
    text-align: center;
    height: 400px;
    /*background-image: linear-gradient(rgb(250, 244, 234),rgb(226, 226, 224));*/
    background-position: bottom;
    background-size:cover;
}
.comment{
    text-align: start;
}

.btn-social{
    color: white;
    background-color: #9c8156;
    border-radius: 50%;
    margin: 3px;
}
.btn-next{
    width: 300px;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color:#f3f3f3;
    background-color: white;
    margin: 5%;
}
.nav{
    height: 108px;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}

.menu{
    font-family: 'Source Sans Pro Light', sans-serif;
    font-weight: 200;
    font-size: 14pt;
    letter-spacing: 2px;
    color: #585858;
    font-variant-caps: all-petite-caps;
}
.nav-pills, .nav-pills.show>.nav-link {
    color: #9c8156;
    background-color: white;
}
.nav-link:hover, .nav-link:active{
    color: #9c8156;;
}
.dropdown-item.active, .dropdown-item:active {
    color: #9c8156;
    background-color: #f3f3f3;
}

.search{
    height: 50px;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: white;
    margin-bottom: 8px;
}
input, optgroup, select, textarea {
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    text-align: left;
}

.box{
    background-color: #f6f6f6;
    border-radius: 8px;
}

.form-control{
    color: #cecece;
    border: solid 1px;
    border-radius: 8px;
}
.input-group{
    margin-left: 100px;
}


.slider{
    height: 550px;
    background-color: #f8f8f8;
    margin-bottom: 4px;
    text-align: center;
}
.slider-title{
    margin-top: 150px;
}
.carousel-control-prev,
.carousel-control-next{
    margin-top: 250px;
    align-items: flex-start;; /* Aligns it at the top */
}

.timg{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 100%;
    height: auto;
}

img.rnd{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tbox{
    background-color: white;
    border-radius: 8px;
    margin-bottom: 50px;

}
.cart{
    background-color: white;
    border-radius: 8px;
    margin-bottom: 50px;
    text-align: center;
    overflow-wrap: break-word;
}

.btn-submit{
    border-radius: 5px;
    background-color: #9c8156;
    color: white; 
    border:0px;  
    height: 35px; 
    margin: 3px;
    margin-bottom: 5%;
}

.btn-tag{
    border-radius: 6px;
    background-color: #9c8156;
    color: white; 
    border:0px;  
    height: 35px;
    margin: 20px;
    font-family: 'Source Sans Pro Light', sans-serif;
    box-shadow: 1px 2px #bdbdbd;
}

.footer_inner{
    height: 283px;
    margin-top: 50px;
    background-color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.insta{
    height: 183px;
    overflow: hidden;
    
}
.fimg{
    width: 17%;
}

.footer{
    height: 50px;
    margin-top: 3px;
    background-color: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-bottom: 150px;
}
