{% block content %}
{% load static %}
<!-- <div class="footer_inner d-flex justify-content-center align-items-center" style="margin-top: 15%;">
    <span class="d-flex flex-column">
        <p class="tag" style="font-size:14pt;">
            ınstagram
        </p>
        <div class="insta">
            <div class="fimg d-flex flex-sm-row">
                <img src="/media/img1.png" class="img-fluid" alt="Responsive image">
                <img src="/media/img1.png" class="img-fluid" alt="Responsive image">
                <img src="/media/img1.png" class="img-fluid" alt="Responsive image">
                <img src="/media/img1.png" class="img-fluid" alt="Responsive image">
                <img src="/media/img1.png" class="img-fluid" alt="Responsive image">
                <img src="/media/img1.png" class="img-fluid" alt="Responsive image">

            </div>
    </span>
    
        
    </div>
</div> -->
<div class="footer d-flex justify-content-evenly">
    <p class="mx-5 pt-3" style="color: #bababa;font-family: 'Source Sans Light'; font-size: 12pt;">Copyright 2021 All Rights Reserved</p> 
    <a href="#top" class="nav-link" style="color: #bababa">
        Yukarı
        <img src="/media/icon top.png">
    </a>
        
</div>


{% endblock %}