{% extends 'components/base.html' %}
{% block content %}
<div class="content">
    <div class="row">
    <div class="col-md-8">
        <div class="cart">
            
                <img src="/media/img2.png" class="img-fluid " style="width:20%;border-radius:50%;">
            <div class="d-flex flex-row mx-5">
                
                <span class="text"> 
                    
                    <h3>Eğitim</h3>
                    <p>
                    Lisans, Necmettin Erbakan Üniversitesi Bilgisayar Mühendisliği, 2021
                    
                    Yüksek Lisans, Afyon Kocatepe Üniversitesi Bilgisayar, Halen</p>
                        
                    <h3>Deneyim</h3>
                    <p>EcoERP - Yazılım Geliştirme Uzmanı, Zafer Teknopark | Kasım 2021 - Halen
                     Görevler: Proje analiz ve yönetim süreçleri,
                   Python sunucu modülünde veritabanı geliştirme projesi,
                    Mobil projelerde test ve geliştirme,
                    .Net Core katmanıl ERP proje geliştirme </p>
                       
                    <h3>Beceriler</h3>
                          <p>             
                    Django ve Flask backend geliştirme,
                    MatLab görüntü işleme teknikleri,
                    Derin öğrenme modeli geliştirme,
                    Git, Jira ile proje yönetimi,
                    C# ve .Net ile uygulama geliştirebilme,
                    PostgreSql ve MSSQL ile veritabanı geliştirebilme,
                    UI , UX tasarım,
                    Python derin öğrenme ve web site geliştirme,
                    Html,Css, Js, Bootstrap ve Vue.js web geliştirme
                </p> 
                </span>
                
            </div>
        
        </div>
    </div>
    
    {% include 'components/sidebar.html' %}    
</div>
</div>

{% endblock %}